<style type="text/css">
	.miHeadingLeft { text-align: left; vertical-align: middle; padding: 0px 0px 0px 0px; }
	.miHeadingRight { text-align: right; vertical-align: top; padding: 16px 6px 0px 0px; }
	.miHeadingCenter { padding: 25px 0px 0px 0px; }
	.miNewButtonDamit { text-align: left; vertical-align: middle; padding: 25px 0px 0px 0px; }

	.miLeft { height: 20px; padding: 0px; width: 40%; float: left; border: #CCC solid 0px; }
	.miRight { height: 20px; padding: 0px; margin-left: 40%; text-align: right; vertical-align: top; border: #CCC solid 0px; }
	.miCenter { height: 20px; padding: 0px; text-align: center; vertical-align: middle; }
	.miSelected { background-color: #CCFF99; }

	.miCaption { text-align: right; }

  	.miModalHead { height: 22px; background-color: #F5F5F5; border-bottom: #CCC solid 1px; padding: 2px; width: 100%; }
  	.miModalBody { background-color: #FFF; font-size: 12px; font-weight: 100; padding: 4px; width: 100%; height: 110px; }

  	.miCheckbox { height: 18px; width: 18px; }

  	.miFontWeightNormal { font-weight: normal; }
  	.miStatus { 
  		font-weight: normal; 
		display: inline-block;
		
		padding: 5px 10px;
		font-size: 18px;
		line-height: 1.5;
		border-radius: 0px;
		
  		margin-bottom: 0;
		text-align: right;
		white-space: nowrap;
		vertical-align: middle;
		background-image: none;
		border: 0px solid transparent;
   	}
  	.miStatusEdit { 
  		color: #FFA500; 
  	}
  	.miStatusNew { 
  		color: #337ab7; 
  	}

  	.miModule {
  		height: 40px; 
  		width: 600px; 
  		padding: 2px; 
  		text-align: left; 
  		vertical-align: top; 
  		border: #CCC solid 0px;
  	}
  	.miModule0 { padding-left: 0px; }
  	.miModule1 { padding-left: 10px; }
  	.miModule2 { padding-left: 20px; }
  	.miModule3 { padding-left: 30px; }
  	.miModule4 { padding-left: 40px; }
  	.miModule5 { padding-left: 50px; }
  	.miModule6 { padding-left: 60px; }

	.miLabelDisabled { color: #999; }
  	.miSelect { padding: 0px 0px 0px 15px; }

  	.miSmall { font-size: 9px; font-weight: 100; padding: 0px 4px 0px 4px; }
  	.miActions { font-size: 10px; font-weight: 100; padding: 0px; }
  	.miInfo { font-size: 9px; font-weight: 100; font-style: italic; padding: 0px 4px 0px 4px; }
  	.miAccent { font-size: 18px; font-weight: 100; font-style: italic; }
  	a:hover { text-decoration: none; color: #F60; }
</style>

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<h1>Application</h1>
		</div>
		<div class="col-md-1 miHeadingRight">
			<div ng-show="cntlr.status != ''" 
				 ng-class="{ miStatus: true, 'miStatusNew': cntlr.status == 'New', 'miStatusEdit': cntlr.status == 'Editing' }">
				{{cntlr.status}}
			</div>
		</div>
		<div class="col-md-3">
			<div class="miHeadingCenter">
				<ol class="nya-bs-select show-menu-arrow" 
					title="Select existing or" 
				    id="chooser" 
				    ng-model="cntlr.application" 
				    ng-change="cntlr.select()">	
					<li nya-bs-option="r in cntlr.applications">
						<a> {{r.app_name}} </a>
					</li>
				</ol>
			</div>
		</div>
		<div class="col-md-1 miHeadingCenter">
			<button class="btn btn-primary btn-sm" 
					ng-click="cntlr.inactivate()" 
					ng-show="!cntlr.application.canDelete && cntlr.application.app_active && cntlr.application.app_id != null">Make Inactive</button>
			<button class="btn btn-primary btn-sm" 
					ng-click="cntlr.activate()" 
					ng-show="!cntlr.application.app_active && cntlr.application.app_id != null">Make Active</button>
			<button class="btn btn-primary btn-sm" 
					ng-click="cntlr.delete()" 
					ng-show="cntlr.application.canDelete && cntlr.application.app_id != null">Delete</button>
		</div>
		<div class="col-md-1 miHeadingCenter">
			<button class="btn btn-primary btn-sm" ng-click="cntlr.new()">Add Application</button>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-1"></div>
	  	<div class="col-sm-2 miCaption">
			<label for="applicationName"> Name </label>
		</div>
	  	<div class="col-sm-3">
			<input id="applicationName" autoFocus 
				   type="text" 
				   class="form-control" 
				   placeholder="Start by creating a unique name" 
				   ng-disabled="false" 
				   ng-model="cntlr.application.app_name" 
				   ng-blur="cntlr.create()">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-1"></div>
	  	<div class="col-sm-2 miCaption">
			<label for="applicationUsers"> Modules </label>
		</div>
	  	<div class="col-sm-3">
			<ol id="applicationUsers" 
				class="nya-bs-select" 
				ng-model="cntlr.module" 
				data-selected-text-format="count" multiple>
				<li nya-bs-option="option in cntlr.modules">
					<a>
						{{option.module_name}}
						<span class="glyphicon glyphicon-ok check-mark"></span>
					</a>
				</li>
			</ol>
		</div>
	</div>

	{{ cntlr.applications }}
	<br>
	{{ cntlr.modules }}
	<br>
	{{cntlr.chooser.application.application_users}}
	<br>
	{{cntlr.chooser.application.application_roles}}
	
<!--
-->
	<new-security-application show='cntlr.adder.show' width='200px' height='200px'>
		<p>Modal Content Goes here<p>
	</new-security-application>
</div>

<!--
<script id="mi-new-security-application.html" type="text/ng-template">
<div>
	NEW
</div>
</script>
-->
<script type="text/ng-template" id="mi-new-security-application.html">
<div ng-show="cntlr.adder.show">
	<div class="miModalOverlay" ng-click="cntlr.adder.off()"></div>
	<div class="miModalDialog">
		<div class="miModalHead">
			Add security application 
		</div>
		<div class="miModalBody">

			<form name="application">
				<div class="form-group row">
				  	<div class="col-sm-2">
						<label for="applicationName"> Name </label>
					</div>
				  	<div class="col-sm-4">
						<input id="applicationName" 
							   application="text" 
							   class="form-control" 
							   placeholder="Select application above" 
							   ng-disabled="cntlr.updater.application_name.disable" 
							   ng-model="cntlr.chooser.application.application_name" 
							   ng-change="cntlr.updater.application_name.change(cntlr.chooser.application.application_name)">
					</div>
				</div>
				<div class="form-group row">
				  	<div class="col-sm-2">
						<label class="sr-only"> Cancel and Submit buttons </label>
					</div>
					<div class="col-sm-4">
						<button type="button" 
								class="btn btn-outline-primary" 
								ng-click="cntlr.adder.off()">Cancel</button>
						<button type="button" 
								class="btn btn-primary" 
								ng-disabled="cntlr.adder.submit.disable" 
								ng-click="cntlr.adder.submit.commit()">Submit</button>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>
</script>
