<style module="text/css">
	.miHeadingLeft { text-align: left; vertical-align: center; padding: 0px 0px 0px 0px; }
	.miHeadingRight { text-align: right; vertical-align: top; padding: 24px 0px 0px 0px; }
	.miModalOverlay {  position:absolute; z-index:9999; top:0; left:0; width:100%; height:100%; background-color:#000000; opacity: 0.7; }
	.miModalDialog { 
		z-index:10000;
		position: absolute;
		width: 50%; 
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		background-color: #fff;
		box-shadow: 4px 4px 60px #000; }
  	.miModalHead { height: 30px; font-weight: bold; background-color: #F5F5F5; border-bottom: #CCC solid 1px; padding: 2px 2px 2px 8px; width: 100%; }
  	.miModalBody { background-color: #FFF; font-size: 12px; font-weight: 100; padding: 20px; width: 100%; }
	.miLeft { width: 70%; float: left; }
	.miRight { margin-left: 70%; text-align: right; vertical-align: top; }
	.miCenter { height: 20px; padding: 0px; text-align: center; vertical-align: center; }
  	.miInfo { font-size: 9px; font-weight: 100; font-style: italic; padding: 0px 4px 0px 4px; }
  	.miAccent { font-size: 18px; font-weight: 100; font-style: italic; }
  	a:hover { text-decoration: none; color: #F60; }
</style>

<div class="form-group row">
	<div class="col-sm-6">
		<h1>Modules</h1>
	</div>
	<div class="col-sm-6 row miHeadingRight">
		<ol class="nya-bs-select show-menu-arrow" id="chooser" ng-model="cntlr.chooser.module" ng-change="cntlr.chooser.change(cntlr.chooser.module)">	
			<li nya-bs-option="r in cntlr.objects.modules">
				<a> {{r.module_name}} </a>
			</li>
		</ol>
		<button module="button" class="btn btn-primary" ng-click="cntlr.adder.new()">Add Module</button>
	</div>
</div>

<div class="container">
	<form name="module">
		<div class="form-group row">
		  	<div class="col-sm-2">
				<label for="moduleName"> Name </label>
			</div>
		  	<div class="col-sm-4">
				<input id="moduleName" 
					   module="text" 
					   class="form-control" 
					   placeholder="Select module above" 
					   ng-disabled="cntlr.updater.module_name.disable" 
					   ng-model="cntlr.chooser.module.module_name" 
					   ng-change="cntlr.updater.module_name.change(cntlr.chooser.module.module_name)">
			</div>
		</div>
	</form>

<!--
-->
	<new-security-module show='cntlr.adder.show' width='200px' height='200px'>
		<p>Modal Content Goes here<p>
	</new-security-module>
</div>

<!--
<script id="mi-new-security-module.html" type="text/ng-template">
<div>
	NEW
</div>
</script>
-->
<script type="text/ng-template" id="mi-new-security-module.html">
<div ng-show="cntlr.adder.show">
	<div class="miModalOverlay" ng-click="cntlr.adder.off()"></div>
	<div class="miModalDialog">
		<div class="miModalHead">
			Add security module 
		</div>
		<div class="miModalBody">

			<form name="module">
				<div class="form-group row">
				  	<div class="col-sm-2">
						<label for="moduleName"> Name </label>
					</div>
				  	<div class="col-sm-4">
						<input id="moduleName" 
							   module="text" 
							   class="form-control" 
							   placeholder="Select module above" 
							   ng-disabled="cntlr.updater.module_name.disable" 
							   ng-model="cntlr.chooser.module.module_name" 
							   ng-change="cntlr.updater.module_name.change(cntlr.chooser.module.module_name)">
					</div>
				</div>
				<div class="form-group row">
				  	<div class="col-sm-2">
						<label class="sr-only"> Cancel and Submit buttons </label>
					</div>
					<div class="col-sm-4">
						<button type="button" 
								class="btn btn-outline-primary" 
								ng-click="cntlr.adder.off()">Cancel</button>
						<button type="button" 
								class="btn btn-primary" 
								ng-disabled="cntlr.adder.submit.disable" 
								ng-click="cntlr.adder.submit.commit()">Submit</button>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>
</script>
