<h1>Workbench</h1>
<div class="container">
	<mi-workbench-display ng-model="cntlr.freezer"></mi-workbench-display>
</div>

<style type="text/css">
	.miLeft { height: 20px; padding: 0px; width: 40%; float: left; border: #CCC solid 0px; }
	.miRight { height: 20px; padding: 0px; margin-left: 40%; text-align: right; vertical-align: top; border: #CCC solid 0px; }

  	.miSmall { font-size: 9px; font-weight: 100; padding: 0px 4px 0px 4px; }
  	.miActions { font-size: 9px; font-weight: 100; padding: 0px; }

  	.miFreezer { font-size: 16px; font-weight: 100; border: #CCC solid 1px; border-radius: 4px; padding: 0px; }
  	.miFreezerHead { background-color: #F5F5F5; border-bottom: #CCC solid 1px; padding: 4px 0px 0px 0px; width: 100%; }
  	.miFreezerBody { font-size: 12px; font-weight: 100; padding: 4px; width: 100%; }
  	.miProduct { border: #CCC solid 1px; border-radius: 4px; padding: 0px; width: 80px;	 }
  	.miProductHead { background-color: #F5F5F5; border-bottom: #CCC solid 1px; padding: 4px 4px 0px 4px; width: 100%; }
  	.miProductHeadLeft { height: 40px; padding: 0px; width: 70%; float: left; }
  	.miProductHeadRight { height: 40px; padding: 0px; margin-left: 70%; text-align: right; vertical-align: top; }
  	.miProductBody { padding: 4px; width: 100%; }
  	.miInfo { font-size: 9px; font-weight: 100; font-style: italic; padding: 0px 4px 0px 4px; }
  	.miAccent { font-size: 12px; font-weight: 100; font-style: italic; }
  	a:hover { text-decoration: none; color: #F60; }
</style>

<script type="text/ng-template" id="mi-workbench-display.html">
<div class="miFreezer col-sm-12">
	<div class="miFreezerHead col-sm-12"> 
		<div class="col-sm-4"> 
			{{cntlr.freezer.name}}
		</div>
		<div class="miInfo miRight"> 
			{{cntlr.freezer.products.length - 1 || 0}} specimen{{cntlr.freezer.products.length - 1 < 2 ? '' : 's'}}
		</div>
	</div>
	<div class="miFreezerBody col-sm-12">
		<mi-workbench-product 
			ng-repeat="product in cntlr.freezer.products"
			product="{{product}}">
		</mi-workbench-product>
	</div>
</div>
</script>

<script type="text/ng-template" id="mi-workbench-product.html">
<div class="miProduct col-sm-1">
	<div class="miProductHead"> 
		<div class="miLeft">
			<div class="miSmall">
				<span ng-hide="cntlr.product.empty">({{cntlr.product.dim1.pos}})</span>
			</div>
		</div>
		<div class="miRight">
			<!--a ng-click="cntlr.moveFrom({{product}});"><span ng-show="cntlr.miMove.miMinus{{product.posId}}" class="glyphicon glyphicon-minus miActions"></a-->
			<a ng-click="cntlr.moveFrom({{cntlr.product}});"><span ng-show="cntlr.product.id != null && !cntlr.product.inQueue" class="glyphicon glyphicon-minus miActions"></a>
			
			<!--a ng-click="cntlr.moveTo({{product}});"><span ng-show="cntlr.miMove.miPlus{{product.posId}}" class="glyphicon glyphicon-plus miActions"></a-->
			<a ng-click="cntlr.moveTo({{cntlr.product}});"><span ng-show="cntlr.product.id == null" class="glyphicon glyphicon-plus miActions"></a>

			<!--a ng-click="cntlr.moveReturn({{product}})"><span ng-show="cntlr.miMove.miUpload{{product.posId}}" class="glyphicon glyphicon-upload miActions"></a-->
			<a ng-click="cntlr.moveReturn({{cntlr.product}})"><span ng-show="cntlr.product.inQueue" class="glyphicon glyphicon-upload miActions"></a>

			<a ng-click="cntlr.menu({{cntlr.product}})"><span class="glyphicon glyphicon-cog miActions"></a>
		</div>
		<div class="miSmall">
			<a ng-click="cntlr.collapse({{cntlr.product.id}});">{{cntlr.product.name}}</a>
		</div>
	</div>
	<div class="miProductBody">
		ID {{cntlr.product.id}}
	</div>
</div>
</script>
