<style type="text/css">
	.miHeadingLeft { text-align: left; vertical-align: middle; padding: 0px 0px 0px 0px; }
	.miHeadingRight { text-align: right; vertical-align: top; padding: 16px 6px 0px 0px; }
	.miHeadingCenter { padding: 25px 0px 0px 0px; }

	.miLeft { height: 20px; padding: 0px; width: 40%; float: left; border: #CCC solid 0px; }
	.miRight { height: 20px; padding: 0px; margin-left: 40%; text-align: right; vertical-align: top; border: #CCC solid 0px; }
	.miCenter { height: 20px; padding: 0px; text-align: center; vertical-align: middle; }
	.miSelected { background-color: #CCFF99; }

	.miCaption { text-align: right; }

  	.miModalHead { height: 22px; background-color: #F5F5F5; border-bottom: #CCC solid 1px; padding: 2px; width: 100%; }
  	.miModalBody { background-color: #FFF; font-size: 12px; font-weight: 100; padding: 4px; width: 100%; height: 110px; }

  	.miCheckbox { height: 18px; width: 18px; }

  	.miStatus { 
  		font-weight: normal; 
		display: inline-block;
		
		padding: 5px 10px;
		font-size: 18px;
		line-height: 1.5;
		border-radius: 0px;
		
  		margin-bottom: 0;
		text-align: right;
		white-space: nowrap;
		vertical-align: middle;
		background-image: none;
		border: 0px solid transparent;
   	}
  	.miStatusEdit { 
  		color: #FFA500; 
  	}
  	.miStatusNew { 
  		color: #337ab7; 
  	}

  	.miSelect { padding: 0px 0px 0px 15px; }

  	.miSmall { font-size: 9px; font-weight: 100; padding: 0px 4px 0px 4px; }
  	.miActions { font-size: 10px; font-weight: 100; padding: 0px; }
  	.miInfo { font-size: 9px; font-weight: 100; font-style: italic; padding: 0px 4px 0px 4px; }
  	.miAccent { font-size: 18px; font-weight: 100; font-style: italic; }
  	a:hover { text-decoration: none; color: #F60; }
</style>

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<h1>Variable</h1>
		</div>
		<div class="col-md-1 miHeadingRight">
			<div ng-show="cntlr.status != ''" 
				 ng-class="{ miStatus: true, 'miStatusNew': cntlr.status == 'New', 'miStatusEdit': cntlr.status == 'Editing' }">
				{{cntlr.status}}
			</div>
		</div>
		<div class="col-md-3">
			<mi-variable-list></mi-variable-list>
		</div>
		<div class="col-md-2 miHeadingCenter">
			<button class="btn btn-primary btn-sm" 
					ng-click="cntlr.inactivate()" 
					ng-show="!cntlr.variable.canDelete && !cntlr.variable.inactive && cntlr.variable.id != null">Inactive</button>
			<button class="btn btn-primary btn-sm" 
					ng-click="cntlr.activate()" 
					ng-show="cntlr.variable.inactive && cntlr.variable.id != null">Active</button>
			<button class="btn btn-primary btn-sm" 
					ng-click="cntlr.delete()" 
					ng-show="cntlr.variable.canDelete && cntlr.variable.id != null">Delete</button>
		</div>
		<div class="col-md-2 miHeadingCenter">
			<button class="btn btn-primary btn-sm" ng-click="cntlr.new()">Add Variable</button>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-1"></div>
	  	<div class="col-sm-2 miCaption">
			<label for="variableName"> Name </label>
		</div>
	  	<div class="col-sm-3">
			<input id="variableName" autoFocus 
				   type="text" 
				   class="form-control" 
				   placeholder="Start by creating a unique name" 
			       ng-disabled="false" 
				   ng-model="cntlr.variable.name" 
				   ng-blur="cntlr.create()">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-1"></div>
	  	<div class="col-sm-2 miCaption">
			<label for="variableTypeSelect"> Variable Type </label>
		</div>
	  	<div class="col-sm-3">
			<ol class="nya-bs-select" 
				title="Select variable type" 
				id="variableTypeSelect" 
			    disabled="cntlr.variable.id === null" 
				ng-model="cntlr.variable.variable_type"
				ng-change="">
				<li nya-bs-option="r in cntlr.variableTypes">
					<a> {{r.name}} </a>
				</li>
			</ol>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-1"></div>
	  	<div class="col-sm-2 miCaption">
			<label for="variableCaption"> Caption </label>
		</div>
	  	<div class="col-sm-3">
			<input id="variableCaption" 
				   type="text" 
				   class="form-control" 
				   placeholder="Shown to user (optional)" 
			       ng-disabled="cntlr.variable.id === null" 
				   ng-model="cntlr.variable.caption" 
				   ng-change="">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-1"></div>
	  	<div class="col-sm-2 miCaption">
			<label for="dataTypeSelect"> Data Type </label>
		</div>
	  	<div class="col-sm-3">
			<ol class="nya-bs-select" 
				title="Select data type" 
				id="dataTypeSelect" 
			    disabled="cntlr.variable.id === null" 
				ng-model="cntlr.variable.data_type"
				ng-change="">
				<li nya-bs-option="r in cntlr.dataTypes">
					<a> {{r.name}} </a>
				</li>
			</ol>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-1"></div>
	  	<div class="col-sm-2 miCaption">
			<label for="unitSelect"> Unit </label>
		</div>
	  	<div class="col-sm-3">
			<ol class="nya-bs-select" 
				title="Select unit" 
				id="unitSelect" 
			    disabled="cntlr.variable.id === null" 
				ng-model="cntlr.variable.unit"
				ng-change="">
				<li nya-bs-option="r in cntlr.units">
					<a> {{r.name}} </a>
				</li>
			</ol>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-1"></div>
	  	<div class="col-sm-2 miCaption">
			<label for="variableDefault"> Default value </label>
		</div>
	  	<div class="col-sm-3">
			<input id="variableDefault" 
				   type="text" 
				   class="form-control" 
				   placeholder="Set a default value (optional)" 
			       ng-disabled="cntlr.variable.id === null" 
				   ng-model="cntlr.variable.default" 
				   ng-change="">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-1"></div>
	  	<div class="col-sm-2 miCaption">
			<label for="variableConstant"> Constant </label>
		</div>
	  	<div class="col-sm-3">
			<input id="variableConstant" 
				   type="checkbox" 
				   class="form-control miCheckbox" 
			       ng-disabled="cntlr.variable.id === null" 
				   ng-model="cntlr.variable.constant" 
				   ng-change="">
			{{ cntlr.variable.constant ? 'Yes' : 'No' }}
		</div>
	</div>
</div>
<!--  custom variable
{ "id": 2, "variable_type_id": 2, "name": "Cell Count", "caption": "Count", "variable_type_id": 2, "unit_id": 4, "default": null, "constant": true }, 
-->

<script type="text/ng-template" id="mi-variable-list.html">
<div class="miHeadingCenter">
	<ol class="nya-bs-select" 
		title="Select existing or" 
		id="variableSelect" 
		ng-model="cntlr.variable"
		ng-change="cntlr.select(cntlr.variable)">
		<li nya-bs-option="r in cntlr.variables">
			<a> {{r.name}} </a>
		</li>
	</ol>
</div>
</script>


<!--
<script type="text/ng-template" id="mi-freezer-favorites.html">
<div class="miHeadingCenter">
	<ol class="nya-bs-select show-menu-arrow" 
		title="Recent containers" 
		id="containerSelect" 
		ng-model="cntlr.chooser.container" 
		ng-change="cntlr.chooser.change(cntlr.chooser.config)">	
		<li nya-bs-option="r in cntlr.objects.configs">
			<a> {{r.store_config_name}} </a>
		</li>
	</ol>
</div>
</script>

<script type="text/ng-template" id="mi-freezer-component.html">
<div class="miComponent">
	<div class="miComponentHead" ng-click="cntlr.collapse('truth{{component.id}}');">
		<div class="miLeft"> {{component.name}} </div>
		<div class="miInfo miRight">
			<a ng-click="cntlr.addHere({{component.id}}); $event.stopPropagation();"><span class="glyphicon glyphicon-plus"></a>
		</div>
	</div>
	<div class="miComponentBody" ng-show="cntlr.freezer.collapse.index.truth{{component.id}}">
		<mi-freezer-component-2 ng-repeat="component in component.components"></mi-freezer-component-2>
		<mi-freezer-container ng-repeat="container in component.containers"></mi-freezer-container>
	</div>
</div>
</script>

<script type="text/ng-template" id="mi-freezer-component-2.html">
<div class="miComponent">
	<div class="miComponentHead">
		<div class="miLeft" ng-click="cntlr.edit('truth{{component.id}}');">
			<ng-switch on="cntlr.editIndex.truth{{component.id}}">
				<div ng-switch-when="true">	
					<input class="miEditContainer" type="text" ng-model="component.name" auto-focus> 
				</div>
				<div ng-switch-when="true"> {{component.name}} </div>
				<div ng-switch-default> {{component.name}} </div>
			</ng-switch>
		</div>
		<div class="miInfo miRight" ng-click="cntlr.collapse('truth{{component.id}}');">
			<a ng-click="cntlr.addHere({{component.id}}); $event.stopPropagation();"><span class="glyphicon glyphicon-plus"></a>
		</div>
	</div>
	<div ng-show="cntlr.freezer.collapse.index.truth{{component.id}}">
		<div class="miComponentBody">
			<mi-freezer-container ng-repeat="container in component.containers"></mi-freezer-container>
		</div>
	</div>
</div>
</script>

<script type="text/ng-template" id="mi-freezer-container.html">
<div ng-class="{ 'miContainer': true }">
	<div ng-class="{ miLeft: true, 'miSelected': cntlr.selectIndex.truth{{container.id}} }" ng-click="cntlr.edit('truth{{container.id}}');">
		<ng-switch on="cntlr.editIndex.truth{{container.id}}">
			<div ng-switch-when="true">	
				<input class="miEditContainer" type="text" ng-model="container.name" auto-focus> 
			</div>
			<div ng-switch-when="true"> {{container.name}} </div>
			<div ng-switch-default> {{container.name}} </div>
		</ng-switch>
	</div>
	<div ng-class="{ miInfo: true, 'miRight': true, 'miSelected': cntlr.selectIndex.truth{{container.id}} }"
		 ng-click="cntlr.selectContainer('{{container.id}}');">
	</div>
</div>
</script>

<script type="text/ng-template" id="mi-container-display.html">
<div ng-mousemove="cntlr.mousemove($event)">
	<div class="miContainerBody">
		<mi-freezer-product 
			ng-repeat="product in cntlr.container.positions" 
			positions="{{cntlr.container.predefined.positions}}" 
			product="{{product}}">
		</mi-freezer-product>
	</div>

	<modal-dialog show='cntlr.modalShown' width='200px' height='200px'>
		<p>Modal Content Goes here<p>
	</modal-dialog>
</div>
</script>

<script type="text/ng-template" id="mi-freezer-product.html">
<div ng-class="{ miProduct100: cntlr.size['100'], miProduct81: cntlr.size['81'], 'col-sm-1': true }">
	<div ng-class="{ miProductHead100: cntlr.size['100'], miProductHead81: cntlr.size['81'] }"> 
		<div class="miLeft">
			<div class="miSmall">
				({{cntlr.product.dim1.pos}}, {{cntlr.product.dim2.pos}})
			</div>
		</div>
		<div class="miRight">
			<a ng-mouseenter="cntlr.mouseenter(cntlr.product)" ng-mouseleave="cntlr.mouseleave()" ng-click="cntlr.moveFrom();">
				<span ng-show="cntlr.product.id != null && !cntlr.product.inQueue" class="glyphicon glyphicon-minus miActions">
			</a>
			<a ng-click="cntlr.moveTo();">
				<span ng-show="cntlr.product.id == null" class="glyphicon glyphicon-plus miActions">
			</a>
			<a ng-click="cntlr.moveReturn();">
				<span ng-show="cntlr.product.inQueue" class="glyphicon glyphicon-upload miActions">
			</a>
			<a ng-click="cntlr.menu({{product}})"><span class="glyphicon glyphicon-cog miActions"></a>
		</div>
		<div class="miSmall"> 
			<a ng-click="cntlr.collapse({{cntlr.product.id}});">{{cntlr.product.name}}</a>
		</div>
	</div>
	<div ng-hide="cntlr.zoomMode">
		<div ng-class="{ miProductBody100: cntlr.size['100'], miProductBody81: cntlr.size['81'] }"> 
		ID {{cntlr.product.id}}
		</div>
	</div>
</div>
</script>

<script type="text/ng-template" id="mi-freezer-modal.html">
<div ng-show='cntlr.modalShown && cntlr.zoomMode'>
	<div ng-style="cntlr.dialogStyle">
		<div class="miModalHead">
			({{cntlr.product.dim1.pos}}, {{cntlr.product.dim2.pos}}) {{cntlr.product.name}}
		</div>
		<div class="miModalBody">
		</div>
	</div>
</div>
</script>

  	.miStatus { 
  		font-weight: normal; 
  		background-color: #FFF; color: black; 
		display: inline-block;
		
		padding: 5px 10px;
		font-size: 12px;
		line-height: 1.5;
		border-radius: 3px;

		
  		margin-bottom: 0;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		background-image: none;
		border: 1px solid transparent;
   	}
  	.miStatusEdit { 
  		background-color: #FFA500; color: white; 
  		border: #FFA500 solid 2px; 
  	}
  	.miStatusNew { 
  		background-color: #337ab7; color: white; 
  		border: #2e6da4 solid 2px; 
  	}

-->
